* {
	font-family: Roboto, Helvetica, sans-serif;
  }
.face-snap-card{
	box-sizing: border-box;
	margin: 20px auto;
	width: 30em;
	height: 35em;
	margin: 1em;
	box-shadow: 0 0 12px rgb(69, 68, 68);
	padding: 8px 10px;
	img{
		width: 100%;
		height: 50%;
	}
}
.snapped {
	background-color: rgba(lightgreen, 0.4);
	color: darkgreen;
	button {
	  background-color: rgba(lightgreen, 0.4);
	  box-shadow: lightgreen 3px 3px 7px;
	  color: darkgreen;
	  &:active {
		box-shadow: lightgreen 0 0 5px;
	  }
	}
  }
.face-snap-card:hover{
	transform: scale(1.02);
}
*{
	transition: 0.2s ease transform;
}